#sidebar  {
  background-color: #000000db;
  height: 100vh;          /* lock to viewport height */
  overflow-y: auto;       /* scroll inside the sidebar */
  overflow-x: hidden;     /* avoid horizontal scrollbars */
}


#sidebar label {
  font-family: Trebuchet MS, sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255); 
}


#sidebar button {
  font-family: Trebuchet MS, sans-serif;
  font-size: 20px;
  background-color: #cccccc;
  color: rgb(0, 0, 0); 
}

#sidebar #aboutButton {
  background-color: #f4f800;
  border-color: transparent;
  width: 35px;
}

#sidebar #watershedExplorerButton {
  background-color: #0004f8;
  border-color: transparent;
  width: 35px;
}

#sidebar #polygonTolButton {
  background-color: #00ff80;
  border-color: transparent;
  width: 35px;
}

#sidebar #aboutSection {
  color: rgb(255, 255, 255);
  font-size: 18px; 

}

#sidebar #backButton {
  width: 30%;
  height: 30px;
  font-size: 30px;
  font-weight: bold;
  background-color: #ffffff;
  color: black;
  display: flex;              /* make it a flex container */
  align-items: center;        /* vertical center */
  justify-content: center;    /* horizontal center */
  padding: 0;                 /* override .btn padding if present */
  line-height: 1;             /* avoid extra vertical offset */
}

.sidebar-separator {
    border: none;               /* remove default HR styles */
    height: 3px;                /* thickness of the line */
    background-color: white;    /* color of the line */
    opacity: 0.7;
}



#resizer {
  width: 6px;
  height: 100vh;
  cursor: col-resize;
  background: #000000db;
}

#loadingMessage {
  background-color:  transparent;
  color: rgb(255, 255, 255); 
  padding: 8px 12px;  
}

.star-marker {
    color: black;
    font-size: 24px;
    text-shadow: 0 0 3px black;
}








.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

/* Center the map inside the modal */
#watershedMap {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-color: white;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}




#polygonTolModal {
    display: none; /* hide initially */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

#polygonTolModal .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px; /* adjust size */
}

/* Close button */
#polygonTolModal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
