#sidebar  {
  background-color: #000000;
}


#sidebar button, label {
  font-family: Trebuchet MS, sans-serif;
  font-size: 24px;
  color: white; /* or any color you want */
}

.form-check {
  display: flex;
  align-items: center; /* vertically centers the checkbox with text */
  justify-content: left; /* aligns everything to the left */
  gap: 1px; /* small space between label and checkbox */
}

.form-check-input {
  transform: scale(1.2); /* keep your bigger checkbox */
}