#introModal {
  display: none; /* Start hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);  
  justify-content: center;   
  align-items: flex-start;  
  padding-top: 2%;            
  z-index: 2000;
}

#introModal .modal-content {
  background: #000000e9;
  color: rgb(255, 255, 255);
  padding: 2rem;
  max-width: 650px;

  border-radius: 10px;
}

#introModal .modal-content #introText {
  color: #ffffff;
  line-height: 2; /* 1.5 times the font size */
  font-size: 20px;
}



.bungee-tint-regular-introModal {
  text-align: center;
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-size: 55px;
  font-style: normal;
}








#mainSidebarContent {
  background-color: #000000e9;
  height: 100vh;   
  width: 80px;       
  overflow-y: auto;       
  overflow-x: hidden;     
}


#mainSidebarContent label {
  font-family: Trebuchet MS, sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255); 
}



#mainSidebarContent #mapButton {
  background-image: url('/static/img/map-marker-64.png');
  background-size: contain;   
  background-repeat: no-repeat;
  background-position: center; 
  background-color: transparent;  
  border: none;
  width: 35px;
  height: 35px;
  padding: 0;  
  cursor: pointer;
}



#mainSidebarContent #aboutButton {
  background-image: url('/static/img/abouticon.png');
  background-size: contain;   
  background-repeat: no-repeat;
  background-position: center; 
  background-color: transparent;  
  border: none;
  width: 35px;
  height: 35px;
  padding: 0;  
  cursor: pointer;
}















button:hover, .checkbox-group label:hover {
    opacity: 0.85;
}






#mapSection {
  background-color: #000000e9;
  height: 100vh;   
  width: 275px;       
  overflow-y: auto;       
  overflow-x: hidden;     
}




#filterButton{
  font-family: Trebuchet MS, sans-serif;
  font-size: 25px;
  background-color: #157f38;
  color: rgb(255, 255, 255); 
} 

#saveButton {
  background-image: url('/static/img/save.png');
  background-size: contain;    
  background-repeat: no-repeat;
  background-position: center; 
  background-color: transparent; 
  border: none;
  width: 35px;
  height: 50px;
  padding: 0;  
  cursor: pointer;   
}











#mapSection label {
  font-family: Trebuchet MS, sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255); 
}


#watershedfilterinput label,
#yearfilterinputs label,
#sizefilterinputs label,
#locationfilterinputs label {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

#mapSection #mapBackButton {
  background-image: url('/static/img/backicon.png');
  background-size: contain;   
  background-repeat: no-repeat;
  background-position: center; 
  background-color: transparent;  
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;  
  cursor: pointer;           
}


#mapSection #watershedExplorerButton {
  background-color: #0004f8;
  border-color: transparent;
  width: 50%;
}

#mapSection #polygonTolButton {
  background-color: #ffbf00;
  border-color: transparent;
  width: 50%;
}

#loadingMessage {
  background-color:  transparent;
  color: rgb(255, 255, 255); 
  padding: 8px 12px;  
}


.star-marker {
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-shadow: 0 0 3px rgb(255, 255, 255);
}
#clearFiltersText:hover {
    color: #dcdcdc; 
}














#aboutSection  {
  color: rgb(255, 255, 255);
  background-color: #000000e9;
  font-size: 18px; 
  width: 800px; 
  height: 100vh;    
  overflow-y: auto;
  overflow-x: hidden;
}




#aboutSection #aboutBackButton {
  background-image: url('/static/img/backicon.png');
  background-size: contain;   
  background-repeat: no-repeat;
  background-position: center;  
  background-color: transparent;  
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;  
  cursor: pointer;    
}








.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

#watershedMap {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-color: white;
}

 
 
#polygonTolModal {
    display: none;  
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}


#polygonTolModal .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px; 
}


#polygonTolModal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}


.sidebar-separator {
    border: none;                
    height: 3px;                 
    background-color: white;     
    opacity: 0.7;
}




#downloadModal {
    display: none;  
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    display: flex; 
}

#downloadModal .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: relative;  
}

#downloadModal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}



.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}




 






.leaflet-control-layers {
  background-color: rgba(30, 30, 30, 0.85); 
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  padding: 5px 8px;
}

.leaflet-control-layers-list {
  color: #fff;
}

.leaflet-control-layers-selector {
  accent-color: #1e90ff;  
}

.leaflet-control-layers label {
  cursor: pointer;
  padding: 2px 0;
}

#clearFiltersText {
    display: block;           
    margin: 0;                
    padding: 0;              
    font-family: Trebuchet MS, sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    text-align: right;  
    line-height: 1;     
}
















/* 
#resizer {
  width: 1px;
  height: 100vh;
  cursor: col-resize;
  background: #000000e9;
} */






